html, body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  box-sizing: border-box;
}
body {
  font: 1rem/1.5 var(-font-sans-serif);
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  letter-spacing: -.01em;
  outline: 0;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }