html,
body {
  margin: 0;
  height: 100%;
  /* -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; */
  box-sizing: border-box;
  user-select: none;
  background-color: #fafbf3;
}
#__nuxt {
  height: 100%;
}
body {
  font: 1rem/1.5 var(--font-regular);
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  letter-spacing: -0.01em;
  outline: 0;
  vertical-align: baseline;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}

div,
p,
ul,
li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
}
a:active,
a:link,
a:visited {
  text-decoration: none;
}

button {
  box-sizing: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
}

section {
  position: relative;
  z-index: 0;
  /* overflow: hidden; */
}
h2 {
  @apply family-semi-bold  lg-text-15 lg-line-height-15 md-text-12 md-line-height-12 sm-text-10 text-8;
}
.desc {
  @apply md-text-6 text-4;
}
