html, body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  font: 1rem/1.5 var(-font-sans-serif);
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  letter-spacing: -.01em;
  outline: 0;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}